body{

    background-color: #f5cae4;
    color: rgb(198, 47, 80);
    font-size: 20px;
    text-align:center;
    padding: 30px;
}

h1{
    background-color: rgb(251, 251, 251);
    color: 54, 94, 152;
    padding: 20px;
    border: 1px solid rgb(3, 83, 83);
    text-align: center;
    width: 60%;
    margin: auto;
}