body{
    font-size: 32px;
    text-align: center;
    font-family: 'Cormorant', serif;
    color: #DFBE99;
    background-color: #EC9192;
}

h1{
    font-size: 60px;
}

.container{
    padding-bottom: 50px;
    padding-top: 100px;
    width: 40%;
    margin: auto;
}

a{
    color: aquamarine;
}

a:visited{
    color: #DFBE99;
}

li{
list-style: none;
}

